{% extends 'base.html' %} {% block title %} Jira tickets between two SonarQube
releases{% endblock %} {% block content %}

<form method="post" action="/compare/" class="form-group">
  {% csrf_token %}
  <div class="input-group mb-3">
    <div class="input-group-prepend"></div>
    From
    <div>{{form.v1}}</div>
    to
    <div>{{form.v2}}</div>

    <button type="submit" name="save" class="btn btn-primary">
      Find Jira tickets
    </button>
  </div>
</form>

{%if form.result != None %}
<ul class="list-group list-group-flush">
  {% for msg in form.result %}
  <li class="list-group-item">
    <a
      href="https://sonarsource.atlassian.net/browse/{{ msg.0 }}"
      class="btn btn-secondary"
    >
      {{ msg.0 }}
    </a>
    {{ msg.1 }}
  </li>
  {% endfor %}
</ul>

{% endif%} {% endblock %}
